-- Classic Set Essentials (4 modules, 13 lessons)
-- Generated by scripts/course-to-sql.mjs. Safe to re-run: rows are upserted by id.
-- Remove the course:  delete from public.courses where slug = 'classic-set-essentials';


-- Module 1: Lash fundamentals
insert into public.course_modules (id, course_id, title, sort_order) values ('4b8b57bd-51b1-5351-a10d-eca4c9c761ee', '62eebf2d-79e9-5ada-ab79-9102d999a4cd', 'Lash fundamentals', 0)
on conflict (id) do update set title = excluded.title, sort_order = excluded.sort_order;

-- Module 2: Tools and hygiene
insert into public.course_modules (id, course_id, title, sort_order) values ('5732d5ef-9984-565f-a4d8-e2f4f0621554', '62eebf2d-79e9-5ada-ab79-9102d999a4cd', 'Tools and hygiene', 1)
on conflict (id) do update set title = excluded.title, sort_order = excluded.sort_order;

-- Module 3: Practice and application
insert into public.course_modules (id, course_id, title, sort_order) values ('aa0fa73e-af45-5dc7-aa8c-2382ab3ee60c', '62eebf2d-79e9-5ada-ab79-9102d999a4cd', 'Practice and application', 2)
on conflict (id) do update set title = excluded.title, sort_order = excluded.sort_order;

-- Module 4: Service, aftercare, and business

